@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

* {
	font-family: "IBM Plex Sans";
}

.font-serif {
	font-family: "IBM Plex Serif";
}

.grad-box {
	/* add box shadow of 45 degree linear gradient of #E49DDC then #86B5FC */
	/*    border: 2px solid; border-image-slice: 1; border-image-source: linear-gradient(135deg, #E49DDC, #86B5FC); border-radius: 1rem; */
}
